body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.menu-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(49, 49, 49, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1, h2 {
    margin: 0;
    font-weight: bold;
}

h3 {
    background-color: orangered;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #444;
}

li:last-child {
    border-bottom: none;
}